
.students-mian-page{
justify-content: center;
gap: 100px;
}

.students-inputs-div {
    width: 20%;
    padding: 20px;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    
}

.students-list-div{
    width: 30%;
    height: 100%;
}
.students-info-div{
    width: 30%;
    height: 50%;
    padding: 10px;
    display: none;
}

.info-std-title{
    text-align: center;
}

.info-std-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}